@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Poppins:wght@300&display=swap');
*{
    padding: 0%;
    margin: 0%;
}
html{
    font-size: 1.5rem;
}
/* nav bar */
nav ul li{
    display: inline-block;
    font-family: 'Montserrat', sans-serif; 
    height: 35vh;
}
/* Body */
body{
    background-color: whitesmoke
}
header{
    background-color: black;
    text-decoration-color: azure;
    padding: 35px;
}
h1{
    padding: 2rem;
    border: 2rem solid black;
    margin: 5px 5px 5px 5px;
    color: azure;
    font-family: 'Montserrat', sans-serif; ;
    font-weight: bold;
    font-size:35px ;
    text-align: center ;
}